<!DOCTYPE HTML>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>	
    <title>Patient Details</title> 
 	<!-- custom js file -->
	<script th:src="@{js/details.js}"></script>     
	
	<script th:src="@{js/jquery-1.11.1.js}"></script>
    <link th:href="@{js/jquery-ui-1.11.4.custom/jquery-ui.css}" rel="stylesheet" />
    <script th:src="@{js/jquery-ui-1.11.4.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{js/jquery-ui-1.11.4.custom/jquery-ui.js}"></script> 
 	
 	<script th:src="@{js/bootstrap.min.js}"></script> 
 	<script th:src="@{js/header.js}"></script>
 	<link th:href="@{js/vakata-jstree/dist/themes/proton/style.min.css}" rel="stylesheet" /> 
 	<script th:src="@{js/vakata-jstree/dist/jstree.min.js}"></script>
 	<script th:src="@{js/purl.js}"></script>

    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{fonts/font-awesome-4.2.0/css/font-awesome.min.css}" rel="stylesheet"  />
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link th:href='@{http://fonts.googleapis.com/css?family=Oswald}' rel='stylesheet' type='text/css' />        
    <link rel="stylesheet"   th:href="@{css/custom.css}" />
    
	<script type="text/javascript" th:src="@{js/jquery.mousewheel-3.0.6.pack.js}"></script>	
	<script type="text/javascript" th:src="@{js/fancybox/jquery.fancybox.js?v=2.1.5}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/jquery.fancybox.css?v=2.1.5}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5}" />
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7}" />
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7}"></script>
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6}"></script>     
</head>
<body>

<div layout:fragment="content">



<div class="container">
	<div class="page-header">		
		<h1 th:text="${patient?.patientname}">Patient Details</h1>		
	</div>
	
	<div class="row">
	
	<div class="col-md-5">	
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<div id="divImageCount"><h3 class="panel-title">Entities</h3></div>
			</div>
			<div class="panel-body text-left">				   
         	
         		<!-- setup a container element -->
  				<div style='font-size:12px;' id="jstree">
    				<!-- in this example the tree is populated from inline HTML -->
   	 				<ul>
      					<li class="jstree-open"><a th:onClick="'getPatient('+${patient.idpatient}+')'" th:text="${patient?.patientname + ' has total of ' + patient.getStudyes().size() + ' Study'}"  ></a>
        					<ul>
          						<li class="jstree-open" th:each="study,status : ${patient.getStudyes()}" >
          							<a th:onClick="'getStudy('+${study.idstudy}+')'"  th:text="${study.studydescription+' has '+ study?.getSeries().size() + ' series'}" ></a>
          							<ul>
          								<li th:each="series,status : ${study.getSeries()}" >
          									<a th:onClick="'getSeries('+${series.idseries}+')'"  th:text="${series?.seriesdescription+' has '+series.getInstance().size()+' images'}" ></a>
          									<ul>
          										<li th:each="instance,status : ${series.getInstance()}" ><a th:onClick="'getInstance('+${instance?.idinstance}+')'"  th:text="${instance?.instancenumber}" ></a></li>
          									</ul>
          								</li>
          							</ul>
          						</li>          					
        					</ul>
      					</li>      					
    				</ul>
  				</div>
         	
         		
			</div>
		</div>
	
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Details</h3>
			</div>
			<div class="panel-body text-left">	
				<div id="divPatient">
					<table id="tblPatient"  class="table table-striped  table-condensed fixed-header">        
         				<caption>Patient</caption>	
         				<tbody>
         					<tr><td>Patient Name</td><td th:text="${patient?.patientname}"></td></tr>
         					<tr><td>Patient ID</td><td th:text="${patient?.patientid}"></td></tr>
         					<tr><td>Patient Sex</td><td th:text="${patient?.patientsex}"></td></tr>
         					<tr><td>Patient Age</td><td th:text="${patient?.patientage}"></td></tr>         				    				  		
         				</tbody>
         			</table>
         		</div>
         		
         		<!-- Study Panel  -->
         		<div id="divStudy"></div>
         		<!-- Series Panel -->
         		<div id="divSeries"></div>
         		<!-- Equipment Panel  -->
         		<div id="divEquipment"></div>
         		<!-- Instance Panel -->
         		<div id="divInstance"></div>
         		
			</div>
		</div>	
	</div>
	
	
	<div class="col-md-7 text-center" >	
		
		<div class="row">
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Images</a></li>
					<li><a href="#tabs-2">Dicoms</a></li>
					<li><a href="#tabs-3">Download</a></li>
				</ul>
				<div id="tabs-1" >
				
				
					<table id="tblPatient"  class="table table-striped fixed-header">
   					<caption>Patient</caption>		
   					<thead>
							<tr>
							<th><a th:onClick="'getPatient('+${patient.idpatient}+')'" th:text="${patient?.patientname + ' has total of ' + patient.getStudyes().size() + ' Study'}"  ></a></th>
							</tr>
					</thead>	
   					<tbody>
      					<tr th:each="study,status : ${patient.getStudyes()}" >
      						<td> 							
      							<table id="tblStudy"  class="table">
   									<caption>Study</caption>   	
   									<thead>
										<tr>
											<th><a th:onClick="'getStudy('+${study.idstudy}+')'"  th:text="${study.studydescription+' has '+ study?.getSeries().size() + ' series'}" ></a></th>
										</tr>
									</thead>
   																
   									<tbody>
      									<tr th:each="series,status : ${study.getSeries()}" >
      										<td>      										
      											<div class='imagebox' >
      											<table id="tblSeries" class="table">
													<caption th:text="${'Series - ' + series.seriesnumber }">Series</caption>
													<thead>
														<tr>
						 									<th ><a th:onClick="'getSeries('+${series.idseries}+')'"  th:text="${series?.seriesdescription+' has '+series.getInstance().size()+' images'}" ></a></th>
						 								</tr>
													</thead>
						 							<tbody>
					  									<tr>
					   										<td>					   																   											
																<div class="col-md-2 text-center"  th:each="instance,status : ${series.getInstance()}">																	
																	<a class="fancybox-images fancybox.iframe"   th:href="${'/showimage/'+instance?.idinstance}" rel="image-gallery" 
																		th:title="${'instancenumber=['+ instance?.instancenumber + ']' +', sopInstanceUID=['+ instance?.sopinstanceuid + ']' }" >
																		<img th:attr="src=@{${'/details/'+instance?.idinstance}} " style="width: 80px; height: 80px; margin:0px; margin-bottom:0px;" />
																	</a>
																	
																	<div style='width:100%; border-style:solid; border-width:0px; margin-bottom:10px; text-align:center'  ><a th:onClick="'getInstance('+${instance?.idinstance}+')'"  th:text="${'No: '+ instance?.instancenumber}" ></a> </div>
																</div>
																
					    									</td>
					  									</tr>
					 								</tbody>
												</table>
												</div>
      										</td>         					
      									</tr>	 
   									</tbody>
								</table>
      							
      						</td>         					
      					</tr>      					     					
   					</tbody>
					</table>
									
					
				</div>
				<div id="tabs-2">
					<p>To do</p>
				</div>
				<div id="tabs-3">
					<p>To do</p>
				</div>
</div>
			
		</div>
	
	
	
	</div>
	
	
	
	
	
	</div>
</div>

</div>

</body>
</html>