<!DOCTYPE HTML>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>	
    <title>Dicom Server</title> 
 	<!-- custom js file -->
	<script th:src="@{js/server.js}"></script>   
	
	<script th:src="@{js/jquery-1.11.1.js}"></script>
    <link th:href="@{js/jquery-ui-1.11.4.custom/jquery-ui.css}" rel="stylesheet" />
    <script th:src="@{js/jquery-ui-1.11.4.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{js/jquery-ui-1.11.4.custom/jquery-ui.js}"></script> 
 	
 	<script th:src="@{js/bootstrap.min.js}"></script> 
 	<script th:src="@{js/header.js}"></script>
 	<link th:href="@{js/vakata-jstree/dist/themes/proton/style.min.css}" rel="stylesheet" /> 
 	<script th:src="@{js/vakata-jstree/dist/jstree.min.js}"></script>
 	<script th:src="@{js/purl.js}"></script>

    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{fonts/font-awesome-4.2.0/css/font-awesome.min.css}" rel="stylesheet"  />
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
    <link th:href='@{http://fonts.googleapis.com/css?family=Oswald}' rel='stylesheet' type='text/css' />        
    <link rel="stylesheet"   th:href="@{css/custom.css}" />
    
	<script type="text/javascript" th:src="@{js/jquery.mousewheel-3.0.6.pack.js}"></script>	
	<script type="text/javascript" th:src="@{js/fancybox/jquery.fancybox.js?v=2.1.5}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/jquery.fancybox.css?v=2.1.5}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5}" />
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7}" />
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7}"></script>
	<script type="text/javascript" th:src="@{js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6}"></script>       
</head>
<body>

<div layout:fragment="content">

<div class="container">
	<div class="page-header">		
		<h1 th:text="#{easy.server}">PACS Server</h1>
		<h2><div id='divLive' ></div></h2>
	</div>
	
	<div class="row">
	<div class="col-sm-12  text-center">		
		
			<table id="tblPatients"  class="table table-striped fixed-header">   	
			<caption>Patients</caption>			
   					<thead>
      					<tr>         					
         					<th>Pk Patient Id</th>
         					<th>Patient Name</th>
         					<th>Patient ID</th>         				
         					<th>Sex</th>
         					<th>Age</th>
         					<th>Created Date</th>
         					<th>Modified Date</th>         					
      					</tr>
   					</thead>
   					<tbody>
      					<tr th:each="patient,status : ${patients}" >      						
         					<td><a th:href="${'/details?pkTBLPatientID='+patient?.pkTBLPatientID}" th:text="${patient?.pkTBLPatientID}"></a></td>   
         					<td><a th:href="${'/details?pkTBLPatientID='+patient?.pkTBLPatientID}" th:text="${patient?.patientName}"></a></td>        					
         					<td th:text="${patient?.patientID}"></td>
         					<td th:text="${patient?.patientSex}"></td>
         					<td th:text="${patient?.patientAge}"></td>
         					<td th:text="${patient?.createdDate}"></td>			
         					<td th:text="${patient?.modifiedDate}"></td> 
         					
      					</tr>
      					<tr th:unless="${patients}">
							<td colspan="8">No patients found</td>
						</tr>
      					
   					</tbody>
				</table>
			
			<div th:replace="fragments/pager :: pager"></div>
			
	</div>
	</div>
	
	
		
</div>

</div>


</body>
</html>